@model _5._Валидация_модели_Model_Validation_.Models.Film

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="div1 div1h">
	<h4 class="h4new">Редактирование фильма</h4>

	<div class="dv1">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly"></div> 
            <br>
            <div class="div_com_t">
                <span asp-validation-for="Title" class="span_error"></span>
                <div class="div_com_t1">
                    <label asp-for="Title" class="label">Название фильма:</label>
                    <input asp-for="Title" class="input1" />
                </div>
            </div>

            <div class="div_com_t">
                <span asp-validation-for="Director" class="span_error"></span>
                <div class="div_com_t1">
                    <label asp-for="Director" class="label">Резиссер:</label>
                    <input type="text" asp-for="Director" class="input1" />
                </div>
            </div>

            <div class="div_com_t">
                <span asp-validation-for="Genre" class="span_error"></span>
                <div class="div_com_t1">
                    <label asp-for="Genre" class="label">Жанр:</label>
                    <input type="text" asp-for="Genre" class="input1" />
                </div>
            </div>

            <div class="div_com_t">
                <span asp-validation-for="Year" class="span_error"></span>
                <div class="div_com_t1">
                    <label asp-for="Year" class="label">Год выпуска:</label>
                    <input type="text" asp-for="Year" class="input1" />
                </div>
            </div>

            <div class="div_com_t2 div_com1v file_div">
                <span asp-validation-for="PosterPath" class="span_error sp2"></span>
                <div class="div_com_t1 div_i div_i1">
                    <input asp-for="PosterPath" class="input_file" type="file" name="uploadedFile" /><br />
                </div>
            </div>

            <div class="div_com_t div_desc">
                <span asp-validation-for="Description" class="span_error"></span>
                <div class="div_com_t2 div_com2v div_desc1">
                    <label asp-for="Description" class="label">Описание фильма:</label>
                    <textarea asp-for="Description" class="input1 text_area1" cols="35" rows="15"></textarea>
                </div>
            </div>
             
            <div class="div_com_t2 div_com3v div_subm">
                <input class="input_subm" type="submit" value="Редактировать" />
            </div>
            
		</form>
        <div class="div_com_t2 div_com4v div_ret">
            <a asp-action="Index" class="a1">Вернутся к списку</a>
        </div>
       

	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}